###############################################################################
###############################################################################
###############################################################################
Environment Deployment In Progress : {{ ansible_datetime.date }} {{ ansible_datetime.time }}
DO NOT USE THIS ENVIRONMENT AT THIS POINT
DISCONNECT AND TRY AGAIN 35 MINUTES FROM THE DATE ABOVE
###############################################################################
###############################################################################
###############################################################################
