$ORIGIN  .
$TTL 1  ;  1 seconds (for testing only)
{{domain}} IN SOA master.{{domain}}.  root.{{domain}}.  (
    2011112904  ;  serial
    60  ;  refresh (1 minute)
    15  ;  retry (15 seconds)
    1800  ;  expire (30 minutes)
    10  ; minimum (10 seconds)
)
  NS master.{{domain}}.
$ORIGIN {{domain}}.
{% for hosts in groups['infranodes'] %}
*   A   {{lookup('dig', hostvars[hosts]["inventory_hostname_short"] + '-'+ guid + '.oslab.opentlc.com @ipa.opentlc.com') }}
{% endfor %}
test    A {{lookup('dig', hostvars[groups["infranodes"][0]]["inventory_hostname_short"] + '-'+ guid + '.oslab.opentlc.com @ipa.opentlc.com') }}
