$ORIGIN  .
$TTL 1  ;  1 seconds (for testing only)
{{domain}} IN SOA master.{{domain}}.  root.{{domain}}.  (
    2011112904  ;  serial
    60  ;  refresh (1 minute)
    15  ;  retry (15 seconds)
    1800  ;  expire (30 minutes)
    10  ; minimum (10 seconds)
)
  NS master.{{domain}}.
$ORIGIN {{domain}}.
{% if install_ha %}
*   A   {{ lookup('host', '({{hostvars['loadbalance1.example.com'][inventory_hostname_short]}}{{domain}})') }}
test   A   {{ lookup('host', '({{hostvars['loadbalance1.example.com'][inventory_hostname_short]}}{{domain}})') }}
{% else %}
{% for hosts in groups['infranodes'] %}
*   A   {{ lookup('host', '({{hostvars[hosts][inventory_hostname_short]}}{{domain}})') }}
test   A   {{ lookup('host', '({{hostvars[hosts][inventory_hostname_short]}}{{domain}})') }}
{% endfor %}
